* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0px;
    background-color: #3033db;
    color: #ecf0f1;
}

header h1 {
    font-style: italic;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}


.sobre {
    margin-top: 36px;
    margin-bottom: 56px;
    display: flex;
    align-items: flex-start;
}

.sobre img {
    margin-right: 36px;
}

section h2 {
    margin-bottom: 32px;
    padding-bottom: 12px;
    border-bottom: solid 2px #3033db;
    color: #3033db;
    font-style: italic;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
    align-items: center;
}

.produto img {
    max-width: 100%;
}

.produto h3,
.produto p {
    margin-top: 8px;
    padding: 12px;
}

.produto p {
    font-size: 14px;
}

.produto h3 {
    font-weight: bold;
    font-size: 21px;
}

.produto button {
    background-color: #3033db;
    border: none;
    color: #ecf0f1;
    width: 100%;
    padding: 8px;
    margin-top: 12px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.produto button:hover {
    background-color: #4346e2;
}

@media screen and (min-width: 641px) and (max-width: 1023px){
    
    .container {
        max-width: 90%;
    }

    .sobre {
        display: flex;
        flex-direction: column;
    }

    .produtos img {
        max-width: 100%;
    }

    .sobre .produto {
        font-size: 1.5em;
    }

    .produtos {
        grid-template-columns: repeat(2, 49%);
    }

    .sobre h2 {
        margin-top: 24px;
    }
}

@media screen and (max-width: 640) {
   
}